$color-white: #fff;

$color-pink-100: #FFF2EC;
$color-pink-300: #FCE3DC;
$color-pink-400: #E49791;
$color-pink-700: #94514C;

$color-green-200: #D4E0BC;
$color-green-400: #7D9676;
$color-green-700: #343D32;
