@import '@/assets/font';

h1, .h1 {
    font-size: 3.4rem;
}

h2, .h2 {
    font-size: 3.2rem;
}

h3, .h3 {
    font-size: 2.4rem;
}

h4, .h4 {
    font-size: 1.8rem;
}

h5, .h5 {
    font-size: 1.6rem;
}

h6, .h6 {
    font-size: 1.4rem;
}

b, strong {
    font-weight: 500;
}

* {
    @extend .h4;
    line-height: 1.2;
    font-weight: 300;
    font-family: 'Neue Machina';
    -webkit-font-smoothing: subpixel-antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

ol,ul {
    padding-left: 2.4rem;
}

li {
    padding-left: 1rem;

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}
