@import '@/assets/font';

h2, .h2 {
    font-size: 3.2rem;
    line-height: 1.1;
    font-weight: 300;
}

h3, .h3 {
    font-size: 2.4rem;
    line-height: 1.1;
    font-weight: 300;
}

h4, .h4 {
    font-size: 1.8rem;
    line-height: 1.1;
    font-weight: 300;
}

h5, .h5 {
    font-size: 1.4rem;
    line-height: 1.1;
    font-weight: 200;
}

h6, .h6 {
    font-size: 1.2rem;
    line-height: 1.1;
    font-weight: 200;
}

b, strong {
    font-weight: 500;
}
